@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(226, 43%, 10%);
    font-family: "Rubik", sans-serif;
}

.center {
    @apply flex justify-center items-center;
}

.App {
    @apply w-11/12 mx-auto py-10 max-w-screen-lg min-h-screen center flex-col;
}

.bright-blue-bg {
    background-color: hsl(246, 80%, 60%);
}

.dark-blue-bg {
    background-color: hsl(235, 46%, 20%);
}

.desaturated-blue {
    color: hsl(235, 45%, 61%);
}

.pale-blue {
    color: hsl(236, 100%, 87%)
}

.light-orange-bg {
    background-color: hsl(15, 100%, 70%);
}

.soft-blue-bg {
    background-color: hsl(195, 74%, 62%);
}

.light-red-bg {
    background-color: hsl(348, 100%, 68%);
}

.lime-green-bg {
    background-color: hsl(145, 58%, 55%);
}

.violet-bg {
    background-color: hsl(264, 64%, 52%);
}

.yellow-bg {
    background-color: hsl(43, 84%, 65%);
}

.white-border {
    border-color: white;
}

.ModalContainer {
    @apply grid gap-5 grid-flow-row grid-cols-1 lg:grid-cols-4;
}

.profile {
    @apply bg-blue-500 rounded-2xl dark-blue-bg lg:row-span-2;
}

.profile-header {
    @apply bright-blue-bg flex justify-start items-center p-8 rounded-2xl lg:flex-col lg:items-start;
}

.profile-header-photo {
    @apply w-1/5 lg:w-2/5;
}

.profile-header-photo-img {
    @apply max-w-full rounded-full border-2 white-border;
}

.profile-header-text {
    @apply px-5 lg:px-0 lg:py-5;
}

.profile-header-text-report {
    @apply pale-blue text-sm;
}

.profile-header-text-name {
    @apply pale-blue text-2xl font-normal lg:text-3xl;
}

.profile-footer {
    @apply flex justify-between px-8 py-5 lg:flex-col items-start;
}

.profile-footer-btn {
    @apply desaturated-blue my-1;
}

.profile-footer-btn:hover {
    @apply pale-blue;
}

.profile-footer-btn.active {
    @apply font-bold pale-blue;
}

.modal-stat {
    @apply rounded-2xl;
}

.modal-stat:hover {
    @apply cursor-pointer opacity-80;
}

.modal-stat-header {
    @apply h-10 relative z-10 overflow-y-hidden;
}

.modal-stat-header-img {
    @apply block absolute -top-2 right-2 z-20;
}

.modal-stat-footer {
    @apply dark-blue-bg rounded-2xl p-5 block relative z-30;
}

.modal-stat-footer-top {
    @apply flex justify-between items-center;
}

.modal-stat-footer-top-activity {
    @apply font-bold pale-blue;
}

.modal-stat-footer-top-options {
    @apply p-1 cursor-pointer;
}

.modal-stat-footer-bottom {
    @apply flex justify-between items-center mt-2 lg:flex-col lg:items-start;
}

.modal-stat-footer-bottom-time {
    @apply text-2xl font-light pale-blue lg:text-5xl lg:mt-4;
}

.modal-stat-footer-bottom-last {
    @apply desaturated-blue;
}

.Footer {
    @apply mt-10 flex lg:absolute lg:bottom-5;
}

.Footer-text {
    @apply desaturated-blue;
}

.Footer-link {
    @apply desaturated-blue mx-1 pale-blue;
}

.Footer-link:hover {
    @apply underline;
}